#############################################
# 🔐 CONFIGURACIÓN Y ARCHIVOS SENSIBLES
#############################################

config/permisos.php
config/db.php
config/config.php

#############################################
# 📦 DEPENDENCIAS (Composer / Librerías)
#############################################

#############################################
# 📂 LIBRERÍAS INCLUIDAS MANUALMENTE
#############################################


#############################################
# 📁 ARCHIVOS GENERADOS / SUBIDAS
#############################################

modules/uploads/backups
#############################################
# 📊 ARCHIVOS TEMPORALES / REPORTES
#############################################

#############################################
# 🖥️ SISTEMA OPERATIVO / IIS / WINDOWS
#############################################

Thumbs.db
.DS_Store
desktop.ini

C:\Windows\Temp\
C:\inetpub\temp\

#############################################
# 🧠 EDITORES
#############################################

.vscode/
.idea/

#############################################
# 🌐 CONFIGURACIÓN LOCAL WEB
#############################################

web.config

#############################################
# 🔥 ARCHIVOS PERSONALES O PRUEBAS
#############################################

prueba.php
debug.php